{
  "presets": [
    [ "env", {
      "targets": {
         "browsers": ["last 2 versions", "> 5%"],
         "node": "6.10"
      },
      "useBuiltIns": true,
      "debug": true,
    }],
  ],
  "plugins": ["transform-object-rest-spread"]
}
